<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="es" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="es" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="es" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="es" class="no-js"> <!--<![endif]-->
    <head>
        <title>Encuesta</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=11,IE=edge,chrome=1" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="robots" content="all" />
        
        <meta name="viewport" content="width=device-width, initial-scale=0.8, user-scalable=yes" />
        
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="favicon.png" type="image/png" />
        
        <link rel="stylesheet" href="css/main.css" type="text/css" media="screen" />
        
        <script type="text/javascript" src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <section>
            <form action="index.html" method="post" id="favorites" accept-charset="utf-8">
                <fieldset>
                    <legend>Ordena del 1 al 5 la marca que prefieres más:</legend>
                    <div class="input">
                        <input id="cinepolis_option" type="text" name="cinepolis_option" value="">
                        <label for="cinepolis_option">Cinepolis</label>
                    </div>
                    <div class="input">
                        <input id="cinemark_option" type="text" name="cinemark_option" value="">
                        <label for="cinemark_option">Cinemark</label>
                    </div>
                    <div class="input">
                        <input id="cinemex_option" type="text" name="cinemex_option" value="">
                        <label for="cinemex_option">Cinemex</label>
                    </div>
                    <div class="input">
                        <input id="cineteca_option" type="text" name="cineteca_option" value="">
                        <label for="cineteca_option">Cineteca</label>
                    </div>
                    <div class="input">
                        <input id="el_sol_option" type="text" name="el_sol_option" value="">
                        <label for="el_sol_option">El Sol</label>
                    </div>
                    <div class="input">
                        <input id="submit_button" type="submit" name="submit_button" value="Enviar">
                    </div>
                </fieldset>
                
            </form>
        </section>
        <script type="text/javascript" src="js/vendor/jquery-1.8.3.min.js"></script>
        <script type="text/javascript" src="js/plugins-ck.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>